<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <img src="linje.png" alt="linje">

    <h1>Admin login</h1>

    <form action="/login" method="POST">
        <label for="name">Användarnamn</label>
        <br>
        <input type="text" id="admin_name" name="admin_name" required>
        <br><br>

        <label for="password">Lösenord</label>
        <br>
        <textarea name="password" id="password" required></textarea>
        <br>

        <button id="button" type="submit">Skicka</button>
        
    </form>
    <% if (fel_meddelande) { %>
        <p style="color: red;"> <%= fel_meddelande %> </p>
    <% } %>
    <img src="linje.png" alt="linje">

    <form action="/" method="GET">
        <h2>Huvud sida</h2>
        <button id="button" type="submit"> Backa </button>
    </form>
    
</body>
</html>